<section class="benefits-section">
  <div class="container">
    <h2 class="visually-hidden">Benefits</h2>
    <ul>
      <li class="benefit-management">
        <div class="benefits-wrap">
          <p class="benefit-intro">Effortless Validation for</p>
          <h3 class="benefit-title">Management</h3>
          <p class="benefit-details">
            The Myspace page defines the individual, his or her characteristics,
            traits, personal choices and the overall personality of the person.
          </p>
          <ul class="benefit-specials">
            <li>
              <h4 class="benefit-special">Accessory makers</h4>
              <p class="benefit-details">
                While most people enjoy casino gambling, sports betting, lottery
                and bingo playing for the fun
              </p>
            </li>
            <li>
              <h4 class="benefit-special">Alterationists</h4>
              <p class="benefit-details">
                If you are looking for a new way to promote your business that
                won’t cost you more money,
              </p>
            </li>
          </ul>
        </div>
        <img
          src="/images/management.svg"
          alt="Management"
          width="540"
          height="500"
        />
      </li>
      <li class="benefit-support">
        <img
          src="/images/support.svg"
          alt="Support"
          width="540"
          height="500"
        />
        <div class="benefits-wrap">
          <p class="benefit-intro">Easier decision making for</p>
          <h3 class="benefit-title">Customer Support</h3>
          <p class="benefit-details">
            The Myspace page defines the individual, his or her characteristics,
            traits, personal choices and the overall personality of the person.
          </p>
          <ul class="tick-table-wrap">
            <li class="support-point">
              <span class="tick-background first-tick">
                <svg class="tickmark-icon" width="17" height="12">
                  <use href="./images/icons.svg#icon-tickmark"></use>
                </svg>
              </span>
              <p class="tick-description">
                Never worry about overpaying for your energy again.
              </p>
            </li>
            <li class="support-point">
              <span class="tick-background second-tick">
                <svg class="tickmark-icon" width="17" height="12">
                  <use href="./images/icons.svg#icon-tickmark"></use>
                </svg>
              </span>
              <p class="tick-description">
                We will only switch you to energy companies that we trust and
                will treat you right
              </p>
            </li>
            <li class="support-point">
              <span class="tick-background third-tick">
                <svg class="tickmark-icon" width="17" height="12">
                  <use href="./images/icons.svg#icon-tickmark"></use>
                </svg>
              </span>
              <p class="tick-description">
                We track the markets daily and know where the savings are.
              </p>
            </li>
          </ul>
        </div>
      </li>
      <li class="benefit-collaboration">
        <div class="benefits-wrap">
          <p class="benefit-intro">Optimisation for</p>
          <h3 class="benefit-title">Collaborative</h3>
          <p class="benefit-details">
            Few would argue that, despite the advancements of feminism over the
            past three decades, women still face a double standard when it comes
            to their behavior.
          </p>
          <ul class="benefit-specials">
            <li>
              <h4 class="benefit-special">Accessory makers</h4>
              <p class="benefit-details">
                While most people enjoy casino gambling, sports betting, lottery
                and bingo playing for the fun
              </p>
            </li>
            <li>
              <h4 class="benefit-special">Alterationists</h4>
              <p class="benefit-details">
                If you are looking for a new way to promote your business that
                won’t cost you more money,
              </p>
            </li>
          </ul>
        </div>
        <img
          src="/images/collaboration.svg"
          alt="Collaboration"
          width="540"
          height="500"
        />
      </li>
    </ul>
  </div>
</section>
