<header class="page-header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="logo header-logo" href="./index.html">
        <img src="./images/logo.svg" alt="Logotype" width="40" height="36" />
        Product
      </a>

      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link current" href="./index.html">Product</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="./pricing.html">Pricing</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="./customers.html">Customers</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="">Resources</a>
        </li>
      </ul>
    </nav>

    <ul class="header-auth-list">
      <li class="header-auth-item">
        <a class="header-auth-link auth-link-light main-btn" href="">Sign In</a>
      </li>
      <li class="header-auth-item">
        <a class="header-auth-link main-btn" href="">Sign Up</a>
      </li>
    </ul>
  </div>
</header>
