<section class="hero-section">
  <div class="container hero-container">
    <div class="hero-wrapper-left">
      <h1 class="hero-title">Work at the speed of thought</h1>
      <p class="hero-details">
        Tools, tutorials, design and innovation experts, all in one place! The
        most intuitive way to imagine your next user experience.
      </p>
      <div class="hero-btns">
        <button type="button" class="green-button">Get started</button>
        <button type="button" class="white-button">
          <span>
            <svg class="triangle-icon" width="16" height="18">
              <use href="./images/icons.svg#icon-triangle"></use>
            </svg>
          </span>
          <span class="btn-text">Watch the Video</span>
        </button>
      </div>
    </div>
    <img
      src="./images/hero-img.svg"
      alt="Hero-images"
      width="610"
      height="555"
    />
  </div>
</section>
