<section class="section staff-section">
  <div class="container staff-container">
    <h3 class="staff-title">Quick & Easy Process</h3>
    <p class="staff-details">
      Do you require some help for your project: Conception workshop,
      prototyping, marketing strategy, landing page, Ux/UI?
    </p>
    <ul class="staff-members">
      <li class="staff-block">
        <div class="avatar">
          <img
            width="98"
            height="98"
            src="./images/avatar-1.jpg"
            alt="A staff member"
          />
        </div>
        <div class="staff-role">
          <span class="staff-power">I can take care of your pitch</span>
        </div>
      </li>
      <li class="staff-block">
        <div class="staff-role">
          <span class="staff-power">I can prototype your app</span>
        </div>
        <div class="avatar">
          <img
            width="98"
            height="98"
            src="./images/avatar-2.jpg"
            alt="A staff member"
          />
        </div>
      </li>
      <li class="staff-block">
        <div class="staff-role">
          <span class="staff-power">I can take care of your pitch</span>
        </div>
        <div class="avatar">
          <img
            width="98"
            height="98"
            src="./images/avatar-3.jpg"
            alt="A staff member"
          />
        </div>
      </li>
      <li class="staff-block">
        <div class="avatar">
          <img
            width="98"
            height="98"
            src="./images/avatar-4.jpg"
            alt="A staff member"
          />
        </div>
        <div class="staff-role">
          <span class="staff-power">I can help marketing strategy</span>
        </div>
      </li>
    </ul>
    <a class="staff-link" href="">Contact our expert</a>
  </div>
</section>
