:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --font-family: 'Poppins', sans-serif;
  --second-family: 'Inter', sans-serif;
  --third-family: 'Montserrat', sans-serif;
  --font3: 'FontAwesome', sans-serif;
  --font4: 'Roboto', sans-serif;
  --font5: 'ProximaNova', sans-serif;
  --font6: 'Asap Condensed', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  color: #22343d;
}
