.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: 74px;
  flex-grow: 1;
}

.header-logo {
  margin-right: auto;
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-nav-link {
  display: block;
  padding: 26px 0;
  line-height: 1.75;
}

.header-nav-link.current {
  font-weight: 600;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: #02897a;
}

.header-auth-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-auth-link {
  padding: 9px 25px;
  text-align: center;
  font-weight: 600;
}

.auth-link-light {
  border: 1px solid #bcd0e5;
  background-color: #fff;
  color: #173a56;
}

.auth-link-light:hover,
.auth-link-light:focus {
  color: #fff;
}
