.news-section {
  margin-bottom: 171px;
}

.news-title {
  font-size: 34px;
  margin-bottom: 10px;
}

.news-details {
  font-weight: 500;
  line-height: 162%;
  margin-bottom: 40px;
  max-width: 465px;
}

.news-list {
  display: flex;
  gap: 30px;
}

.news-article {
  width: calc((100% - 60px) / 3);
  border-radius: 8px;
  border: 1px solid #dedede;
}

.news-article > p {
  margin: 24px 0 12px 24px;
  line-height: 175%;
}

.article-author {
  font-weight: 700;
}

.article-title {
  margin: 0 27px 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: 167%;
}
